body {
	font-size: 13px;
	color: #333;
	background-color: #fdfdfd;
}

hr {
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ccc;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1100;
}

.loader-container {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: 112px;
    width: 100%;
    text-align: center;
}

#udb-loader .udb-loader-spin-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#udb-loader .udb-loader-spin-wrapper .udb-loader-spin {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -50px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #00a5dd;
	-webkit-animation: udb-loader-spin-animate 2s linear infinite;
	-moz-animation: udb-loader-spin-animate 2s linear infinite;
	-ms-animation: udb-loader-spin-animate 2s linear infinite;
	-o-animation: udb-loader-spin-animate 2s linear infinite;
	animation: udb-loader-spin-animate 2s linear infinite;
}
#udb-loader .udb-loader-spin-wrapper .udb-loader-spin:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0059a5;
	-webkit-animation: udb-loader-spin-animate 3s linear infinite;
	-moz-animation: udb-loader-spin-animate 3s linear infinite;
	-ms-animation: udb-loader-spin-animate 3s linear infinite;
	-o-animation: udb-loader-spin-animate 3s linear infinite;
	animation: udb-loader-spin-animate 3s linear infinite;
}
#udb-loader .udb-loader-spin-wrapper .udb-loader-spin:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #2bc9ff;
	-webkit-animation: udb-loader-spin-animate 2s linear infinite;
	-moz-animation: udb-loader-spin-animate 2s linear infinite;
	-ms-animation: udb-loader-spin-animate 2s linear infinite;
	-o-animation: udb-loader-spin-animate 2s linear infinite;
	animation: udb-loader-spin-animate 2s linear infinite;
}
udb-loader-spin-animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-o-keyframes udb-loader-spin-animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes udb-loader-spin-animate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.blue-principal {
	background-color: #00a5dd !important;
}

.blue-principal:hover {
	background-color: #2bc9ff !important;
}

.blue-secondary {
	background-color: #0059a5;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1) !important;
}

.image-header {
	background-size: cover;
    height: 400px;
}

.header-search {
	background-color: #fff !important;
    border: 1px solid #00a5dd !important;
    padding: 0px 20px !important;
	border-radius: 40px !important;
}

.header-search-btn {
	position: absolute;
	top: 3px;
	right: -26px;
	background: #00A5E1;
	color: #fff;
	height: 40px;
	border: none;
	line-height: 54px;
	width: 40px;
	border-radius: 50%;
}

.principal-header-bar {
	width: 100%;
	padding: 20px;
    background-color: #0059a5;
}

.principal-btn-header {
	color: #fff;
}

.principal-btn-header a {
	background-color: #00a5dd !important;
    border-radius: 30px !important;
	font-size: 12px !important;
}

.navbar-fixed {
	height: 84px;
}

nav {
	padding: 10px 20px;
    height: 84px;
    line-height: 64px;
    background-color: #fff;
}

nav a {
	color: #003366;
}

nav ul a {
    transition: background-color .3s;
    font-size: 14px;
    color: #334f6b;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav .button-collapse {
    float: right;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 996;
    will-change: opacity;
}

.menu-divider {
	border-color: rgba(0, 89, 165, 0.19);
	border-top: 0;
}

.menu-logo-responsive {
	height: 150px;
}

.menu-logo-responsive img {
	margin: 0 auto;
}

.side-nav li>a {
    color: #0059a5;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: #00a5dd;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #00a5dd;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.search-nav {
	padding: 0;
	background-color: #036;
	height: 64px;
}

.search-input {
	background-color: #fff !important;
	color: #666;
	height: 40px !important;
	border-radius: 20px !important;
	font-size: 14px !important;
	margin: 0 !important;
	width: 100% !important;
	padding-left: 20px !important;
	box-sizing: border-box !important;
}

.submit-search {
	position: absolute;
	top: 14px;
	right: 15px;
	height: 35px;
	width: 35px;
	border-radius: 20px;
	border: none;
	background-color: #00a5dd;
}

.submit-search:focus {
	background-color: #0059a5;
}

.submit-search i {
	height: 35px !important;
	line-height: 35px !important;
}

.title-divider {
	position: relative;
    width: 100%;
    display: inline-block;
	margin-bottom: 10px;
}

.title-divider h1 {
	border-bottom: 3px solid #00a5dd;
	z-index: 1;
	padding-bottom: 1px;
	margin: 0;
	font-size: 20px;
	line-height: 1.3;
	display: inherit;
}

.title-divider::before {
	content: "";
	position: absolute;
	bottom: 2px;
	right: 0;
	width: 100%;
	border-bottom: 1px dotted rgb(219, 219, 219);
	z-index: 0;
}

.title-divider::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px dotted rgb(219, 219, 219);
    z-index: 0;
}

.side-bar-block {
	margin-bottom: 20px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: #00a5dd !important;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.collection-item.valigncenter {
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-align-items: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}

.collection-item:hover {
	background-color: #ededed !important;
}

.collection .collection-item.avatar {
    min-height: 60px;
    padding-left: 72px;
    position: relative;
}

.collection a.collection-item {
    display: block;
    transition: .25s;
    color: #00a5dd;
}

.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.text-justify {
	text-align: justify;
}

.card-dr-title {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
	color: #333;
}

.card-dr-address {
	color: #626262 !important;
	font-weight: 100;
}

hr.card-dr {
	margin: 10px 0;
    border-top: 0;
    border-color: #f1f1f1;
}

.collection .collection-item.avatar.cirujanos {
    min-height: 87px;
    padding-left: 100px;
    position: relative;
}

.collection .collection-item.avatar.cirujanos .circle {
    position: absolute;
    width: 70px;
    height: 70px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
	background-size: cover;
	background-position: center;
	border-radius: 0;
}

.stars-rate {
	color: #ffa101;
	display: inline;
}

.stars-rate i.inactive {
	color: #b9b9b9;
}

.stars-rate i {
	font-size: 18px;
	margin-right: 0px !important;
}

.pagination li.active {
    background-color: #00a5dd !important;
}

.page-footer {
    padding-top: 20px;
    background-color: #002952;
	border-top: 1px solid #ededed;
	color: #fff;
}

.social-floating {
	position: fixed;
	z-index: 999;
	top: 190px;
}

.consulting-floating {
	position: fixed;
	z-index: 999;
	top: 190px;
	right: 0;
}

.consult-btn {
	background-color: #00a5dd;
    color: #fff;
    padding: 7px;
    transform: rotate(-90deg) translateY(60px) translateX(-60px);
    float: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 30px;
    padding-right: 10px;
}

.consult-icon {
	background-color: #0059a5;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
}

.social-ntwrk {
	padding: 10px;
	height: 40px;
	margin-bottom: 10px;
}

.pull-left {
	float: left !important;
}

.date {
	border: 1px solid #e8e8e8;
    background: #fafafa;
}

.date .day {
	font-size: 23px;
    line-height: 34px;
}

.date .month {
	font-size: 9px;
	line-height: 18px;
	padding-bottom: 2px;
	background-color: #00a5dd;
	color: #fff;
}

.date.pull-left {
	width: 50px;
	text-align: center;
	margin-right: 20px;
}

.go-up {
	position: fixed;
    right: 0;
    bottom: 10px;
    z-index: 999;
}

.go-up-icon {
	background-color: rgba(0, 165, 221, 0.44);
	color: #fff;
	padding: 10px;
	border-radius: 50%;
}

.footer-copyright {
	background-color: #fff !important;
	color: #333 !important;
}

.tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #f9f9f9;
    margin: 0 auto;
    white-space: nowrap;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #00a5dd;
}

.tabs .tab a {
    color: rgba(0, 165, 221, 0.50);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #0059a5;
    will-change: left, right;
}

.profile-doctor {
	width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
	float: left;
}

.profile-actions {
	float: left;
	margin-left: 10px;
}

.profile-btn {
	height: 30px;
    margin-top: 4px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 20px;
    border-radius: 20px;
    font-weight: bold;
}

.content-tab-profile {
	padding: 10px 15px !important;
    background-color: #f1eded;
}

.content-tab-profile ul,li {
	list-style: initial !important;
}

.content-tab-profile ul {
	padding-left: 40px !important;
}

.card-content ul,li {
	list-style: initial !important;
}

.card-content ul {
	padding-left: 40px !important;
}

footer ul,li {
	list-style: none !important;
}

.inner {
	padding: 1em;
	background-color: white;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	border-radius: 4px; 
}

.rating {
	float: left;
	width: 30%;
	margin-right: 5%;
	text-align: center;
}

.rating-num {
	color: #333333;
	font-size: 72px;
	font-weight: 100;
	line-height: 1em; 
}

.rating-stars {
	font-size: 20px;
	color: #E3E3E3;
	margin-bottom: .5em;
}

.rating-stars .active {
	color: #737373;
}

.rating-users {
	font-size: 14px;
}

.histo {
	float: left;
	width: 65%;
	font-size: 13px;
}

.histo-star {
	float: left;
	padding: 3px;
}

.histo-rate {
	width: 100%;
	display: block;
	clear: both;
}

.bar-block {
	margin-left: 5px;
	color: black;
	display: block;
	float: left;
	width: 75%;
	position: relative;
}

.bar {
	padding: 4px;
	display: block;
}

.bar span {
	display: none;
}

#bar-five {
	width: 0;
	background-color: #9FC05A;
}

#bar-four {
	width: 0;
	background-color: #ADD633;
}

#bar-three {
	width: 0;
	background-color: #FFD834;
}

#bar-two {
	width: 0;
	background-color: #FFB234;
}

#bar-one {
	width: 0;
	background-color: #FF8B5A;
}

.close-modal {
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 10px;
}

.close-modal i {
	background-color: rgba(204, 204, 204, 0.7);
    border-radius: 50%;
    padding: 4px;
}

/** ====================
 * Lista de Comentarios
 =======================*/
 .comments-container {
	width: 100%;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-list {
	margin-top: 30px;
	position: relative;
	padding-left: 0;
}

span.new.verified {
	background-color: #00a5dd;
	margin-top: 3px;
}

.stars-rate-comment {
	color: #ffa101;
	float: left;
	margin-top: 5px;
}

.stars-rate-comment i.inactive {
	color: #b9b9b9;
}

.stars-rate-comment i {
	font-size: 18px;
	margin-right: 0px !important;
}

.stars-rate-comment i:hover {
	color: #ffa101 !important;
}

.stars-rate-comment i:hover.inactive {
	color: #b9b9b9 !important;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #ededed;
	position: absolute;
	left: 32px;
	top: 0;
}

.reply-list:before, .reply-list:after {
	display: none;
}

.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #ededed;
	position: absolute;
	top: 25px;
	left: -55px;
}

.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px !important;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 90%;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-link {
	float: right;
    margin: 0 10px;
    position: relative;
    top: 2px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #0059a5;
    padding: 4px 10px;
    border-radius: 3px;
}

.comment-box .comment-head i.reply {
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-head h6 span {
	padding-left: 10px;
    font-size: 10px;
    font-weight: 300;
    color: #6b6b6b;
}  

.comment-box .comment-name a {
	color: #283035;
}

span.badge.new:after {
    content: "" !important;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-gallery-indicators {
	position: absolute; bottom: 0; right: 5px; color: #fff; text-shadow: 1px 1px 1px #000;
}

.num-indicator {
	position: relative;top: -3px;display: inline;font-size: 10px;font-weight: bold;
}

.parsley-required {
	color: #f44336;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: -20px;
}

footer a {
	font-size: 16px;
	color: #fff !important;
}

footer a:hover {
	color: #039be5 !important;
}

.modal .modal-footer {
	padding: 0px !important;
	text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
    float: none !important;
    margin: 6px 0;
}

@media only screen and (min-width: 993px) {
	.container {
		width: 90%;
	}
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left: 0 !important;
		transform: initial !important;
	}
}

@media only screen and (max-width: 768px) {
	.principal-btn-header {
		color: #fff;
		margin-bottom: 30px;
	}

	.close-modal {
		position: absolute;
		right: 5px;
		cursor: pointer;
		top: 5px;
	}
	
	.close-modal i {
		background-color: rgba(204, 204, 204, 0.7);
		border-radius: 50%;
		padding: 4px;
		font-size: 18px;
	}

	.modal-header h4 {
		font-size: 17px !important;
	}

	.modal .modal-footer {
		padding: 0px !important;
		text-align: left;
	}

	.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-flat {
		float: none !important;
		margin: 6px 0;
		width:100%;
	}

	.profile-btn {
		height: 25px;
		margin-top: 4px;
		line-height: 25px;
		font-size: 10px;
		padding: 0 10px;
		background-color: #c6055b;
		border-radius: 20px;
	}

	.container.responsive-w {
		width: 100% !important;
		padding: 0 20px;
	}

	.inner {
		padding: 0;
		background-color: transparent;
		overflow: hidden;
		position: relative;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.rating-num {
		font-size: 42px;
	}

	.rating-stars .material-icons {
		font-size: 18px;
	}

	.rating-stars {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.rating-users {
		font-size: 10px;
	}

	.rating-users i {
		font-size: 14px;
	}

	.histo-star {
		padding: 2px;
	}

	.histo-star i {
		font-size: 18px;
	}

	.bar {
		padding: 2px 4px;
	}

	.reply-list li:before, .comments-list:before {
		background: #e5e5e5;
	}

	.comments-list .comment-box {
		width: 80%;
	}

	.comments-list .comment-avatar {
		width: 44px;
		height: 44px;
	}

	.comments-list:before {
		left: 22px;
	}

	.reply-list li:before {
		left: -65px;
		top: 15px;
	}

	.reply-list .comment-avatar {
		width: 30px;
		height: 30px;
	}

	.comment-box .comment-name {
		font-size: 12px;
	}

	.stars-rate-comment i {
		font-size: 14px;
	}

	.comment-box .comment-head {
		padding: 6px 10px;
	}

	.comment-box .comment-content {
		padding: 8px 10px;
		font-size: 12px;
	}

	.comment-gallery-indicators {
		width: 44px;
		right: -7px;
	}

	.comment-gallery-indicators i {
		font-size: 10px !important;
	}

	.comment-gallery-indicators .num-indicator {
		font-size: 7px;
	}

	.profile-doctor {
		width: 100%;
		height: 280px;
		background-size: cover;
		background-position: center;
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}