RewriteEngine on
RewriteCond %{HTTP_HOST} ^ciguriaplasticacolombia.com [NC]
RewriteRule ^(.*)$ http://www.ciguriaplasticacolombia.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

Rewriterule ^inicio index.php
Rewriterule ^inicio_(.+)$ index.php?page=$1
Rewriterule ^blog_(.+)$ blog.php?page=$1
Rewriterule ^noticia/(.+)_(.+)$ blog-detalle.php?id=$1&title=$2
Rewriterule ^doctor/(.+)_(.+)$ directorio-detalle.php?id=$1&title=$2
Rewriterule ^doctor/calificar/(.+)/(.+)$ directorio-detalle.php?id=$1&calificationCode=$2
Rewriterule ^procedimiento/(.+)_(.+)$ procedimientos-detalle.php?id=$1&title=$2
Rewriterule ^subprocedimiento/(.+)_(.+)$ subprocedimiento.php?id=$1&title=$2
Rewriterule ^video/(.+)$ video.php?id=$1